.container{
		padding: 20px;
		.my-top{
			display: flex;
			justify-content: space-between;
			align-items: center;
			.left{
				display: flex;
				align-items: center;
			}
			image{
				width: 80px;
				height: 80px;
				border-radius: 50%;
				margin-right: 20px;
			}
		}
		.my-list{
			margin: 40px auto;
			border: 1px solid #999;
			position: relative;
			.my-list-item{
				height: 50px;
				border-bottom: 1px solid #999;
				line-height: 50px;
				padding-left: 16px;
				font-size: 28rpx;
			}
			.my-list-item:last-child{
				border-bottom: none;
			}
			.list-top{
				border: 1px solid #999;
				height: 70px;
				line-height: 70px;
				padding-left: 16px;
				font-size: 28rpx;
				position: absolute;
				background-color: #FFF;
				position: absolute;
				top: -34px;
				left: 16px;
				right: 16px	;
			}
		}
	}