.container{
		.my-top{
			background-color: #FEC300;
			height: 320rpx;
			position: relative;
		}
		.top{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 20px;
			.left{
				display: flex;
				align-items: center;
			}
			image{
				width: 80px;
				height: 80px;
				border-radius: 50%;
				margin-right: 20px;
			}
		}
		.vip-img-box{
			position: absolute;
			left: 7.5%;
			bottom: -46px;
		}
		.vip-img{
			border-radius: 8px;
			height: 80px;
		}
		.my-list{
			margin-top: 55px;
			padding: 0 10px;
			.my-list-item{
				display: flex;
				align-items: center;
				justify-content: space-between;
				line-height: 52px;
				font-size: 28rpx;
				border-bottom: 1px solid #ECECEC;
				text{
					margin-left: 10px;
				}
				.list-item-left{
					display: flex;
					align-items: center;
				}
			}
			.list-top{
				border: 1px solid #999;
				height: 70px;
				line-height: 70px;
				padding-left: 16px;
				font-size: 28rpx;
				position: absolute;
				background-color: #FFF;
				position: absolute;
				top: -34px;
				left: 16px;
				right: 16px	;
			}
		}
	}